.search-button{
    margin: 0 0.5rem;
    border: 1.5px solid black;
    border-radius: 6px;
    background-color: rgba(255, 0, 0, 0.743);
    font-weight: 400;
}

.search-button:hover{
    background-color: rgb(218, 0, 0);
}

.search-input{
    border: 1.5px solid black;
    border-radius: 6px;
}

.search-wrapper{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
}